.me_stock_card{
    width: 100%;
    padding: 20px;
    /* height: 80px; */
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    display: flex;
    justify-content: space-between;
}

.stock_side{
    height: 100%;
    display: flex;
    justify-content: center;
}
.stock_side_left{
    flex-direction: column;
}
.stock_side_right{
    align-items: center;
}

.stock_code{
    font-weight: 400;
    font-size: 1.35rem;
}
.stock_name{
    font-size: 0.75rem;
    opacity: .8;
}

.chart{
    width: 25px;
    height: 25px;
    align-items: flex-end;
    display: flex;
    justify-content: space-evenly;
}
.bar{
    width: 25%;
    height: 100%;
}
.stock_price{
    height: 100%;
    display: flex;
    display: flex;
    justify-content: center;
    padding-left: 5px;
    padding-right: 5px;
    flex-direction: column;
}
.price_text{
    text-align: right;
    font-size: 1.1em;
    text-align: right;
}
.price_text_detail{
    text-align: right;
    font-size: .8em;
    text-align: right;
}