.main_stats{
    width: 100%;
    min-height: 300px;
    background-color: var(--violet);
    padding: 30px 20px;
}

.main_stats_text_side{
    width: 100%;
    min-height: 60px;
    display: flex;
    align-items: center;
}
.main_stats_text{
    font-size: 1.5rem;
    font-weight: 500;
    font-family: var(--poppins);
    color: var(--white);
}

.main_stats_content_side{
    margin: 20px 0;
    width: 100%;
    height: 200px;
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
    overflow-x: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none;
}
.main_stats_content_side::-webkit-scrollbar{
    display: none;
}

.news{
    width: 100%; 
    /* background: red; */
    padding: 30px 20px 70px 20px;
}
.news_title_side{
    width: 100%;
}

.news_title{
    font-family: var(--poppins);
    font-size: 1.5rem;
    margin: 10px 0 20px 0;
    color: var(--black);
}

.news_content_side{
    display: flex;
    flex: wrap;
    align-items: center;
    width: 100%;
    gap: 20px;
    flex-direction: column;
}

/* news card */