.stock_wrapper{
    padding: 0 0 80px 0;
}
.me_stock{
    padding: 15px;
}
.me_stock_top_side{
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
}

.me_stock_bottom_side {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.top_side_wrapper{
    height: 100%;
    display: flex;
}

.me_stock_title{
    font-size: 1.3em;
    font-weight: 500;
    color: var(--black);
    /* text-decoration: underline var(--violet); */
    margin: 20px 3px;
}
.ms_right{
    justify-content: center;
    align-items: center;
}
