.stock_wrapper{
    padding-bottom: 80px;
}
.me_stock{
    width: 100%;
    padding: 15px;
    /* background: green; */
}
.me_stock_top_side{
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
}

.top_side_wrapper{
    height: 100%;
    display: flex;
    padding: 10px 0px 10px 0px;
}

.me_stock_title{
    font-size: 1.4em;
    color: var(--black);
    text-decoration: underline var(--violet);
    margin-right: 6px;
}
.ms_right{
    justify-content: center;
    align-items: center;
}
