.profile_top{
    height: 350px;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.profile_top_perks{ 
    /* background-color: green; */
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon_perks{
    color: var(--dark-white);
    font-size: 2rem;    
}
.profile_main {
    flex: 1;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profilepict{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid white;
}
.user_title{
    margin: 20px 0;
    color: white;
    font-size: 1.4rem;
    font-weight: 500;
}


.profile_bottom{
    width: 100%;
    position: relative;
}

.decoration{
    width: 100%;
    height: 50px;
    background-color: var(--black);
    position: absolute;
    top: 0px;
    z-index: 2;
}
.decoration_filler{
    width: 100%;
    height: 105%;
    background-color: var(--dark-white);
    border-top-left-radius: 60%;
    border-top-right-radius: 60%;
    position: relative;
}

.bottom_main_content{
    width: 100%;
    padding: 50px 15px;
    position: relative;
    z-index: 2;
}

.recent_text{
    font-weight: 500;
    font-size: 1.3em;
}
.user_detail_bar{       
    background-color: var(--violet);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}
.db_perks{
    color: var(--white);
    text-align: center;
}
.db_title{
    font-style: italic;
    font-size: 0.75rem;
    font-weight: 300;
}
.db_detail{
    font-size: 1rem;
    font-weight: 500;
}

/* budget */
.budgeting{
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    gap: 20px;
}