@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,550;1,100;1,200;1,300;1,400&display=swap');

:root{
  --black: #323232;
  --dark-white : #F8F9FF;
  --white: #FFFFFF;
  --orange : #FF9E45;
  --rorange : #FF6445;
  --violet : #6445FF;
  --green : #78C142;
  --red : #FF4545;
  --blue : #92ABE1;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: var(--dark-white);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
  
.lovely_transit_page{
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 0px;
  transition: 1s;
  background: var(--violet);
  z-index: 10;
}

.max_size{
  width: 100vw;
  height: 100vh;
  background-color: var(--violet);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.max_text{
  text-align: center;
  color: var(--dark-white);
  font-family: var(--poppins);
  font-size: 2.2em;
}

.poppins{
  font-family: var(--poppins);
}
.black{
  color: var(--black);
}